












<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

    <div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>Logo</a>
  <a href="../../Home/butcher" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Butcher</a>
  <a href="#delivery" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Delivery</a>
  <a href="../../Home/history" class="w3-bar-item w3-button w3-hide-small w3-hover-white" onclick="openForm()">History</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contact</a>
    <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications"> Shop <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Bakra</a>
      <a href="#" class="w3-bar-item w3-button">Chatra</a>
      <a href="#" class="w3-bar-item w3-button">Dumba</a>
      <a href="#" class="w3-bar-item w3-button">Verha</a>
      <a href="#" class="w3-bar-item w3-button">bachra</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
 </div>


<form class="w3-row-padding w3-center w3-padding-64" id="history">
    <h2>History</h2>
    <p>You've the following history details.</p><br>
    <div class="w3-container">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-theme">
          <p class="w3-xlarge">Basic</p>
        </li>
        <li class="w3-padding-16"><b></b> Name: Eiman Waheed</li>
        <li class="w3-padding-16"><b></b> Email: 123@gmail.com</li>
        <li class="w3-padding-16"><b></b> Animals bought: 2 goats bought</li>
        <li class="w3-padding-16"><b></b> Price of order: 42000/-</li>
        
                 <li class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large"><i class="fa fa-check"></i> Return to menu</button>
        </li>
      </ul>
    </div>
        </form>

</body>
</html>
